################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/common-control-tools/FileContentIndex/5e911d5f-d134-4fc0-9e62-0825d680226b.vsidx
